@font-face {
    font-family: 'BebasNeue';
    src: url('./font/BebasNeue-Regular.ttf'), url('./font/BebasNeue-Regular.otf'), url('./font/BebasNeue-Regular.eot'), url('./font/BebasNeue-Regular.woff'), url('./font/BebasNeue-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PingFang';
    src: url('./font/PingFang Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: url(./img/web1x_火狐截图_2020-06-17T01-53-22.918Z.png) no-repeat fixed center;
    background-size: cover;
    font-family: PingFang;
    font-size: 14px;
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
    height:10px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0,123,255,0.4)
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: rgba(0,123,255,0.2);
}

.high-risk {
    background: #ff5e54;
}
.medium-risk {
    background: #FF732E;
}
.general-risk {
    background: #C3A300;
}
.low-risk {
    background: #005EFF;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
}

.font-family-bebas {
    font-family: BebasNeue;
}

.font-size-x8 {
    font-size: 36px;
}
.font-size-x6 {
    font-size: 32px;
}

.font-size-x2 {
    font-size: 24px;
}

.font-size-x1 {
    font-size: 22px;
}

.font-size-x {
    font-size: 20px;
}

.font-size-large {
    font-size: 18px;
}

.font-size-medium {
    font-size: 16px;
}

.font-size-base {
    font-size: 14px;
}

.font-size-small {
    font-size: 12px;
}

.font-size-extra-small {
    font-size: 10px;
}

.font-weight-medium {
    font-weight: 400;
}

.font-weight-large {
    font-weight: 600;
}

.echarts {
    width: 100% !important;
    height: 100% !important;
}

.vBox {
    display: flex;
    flex-direction: column;
}

.hBox {
    display: flex;
}

.vh-grow {
    flex-grow: 1;
}

.vh_content_center {
    justify-content: center;
}

.vh_content_between {
    justify-content: space-between;
}

.vh_content_around {
    justify-content: space-around;
}

.vh_content_start {
    justify-content: flex-start;
}

.vh_content_end {
    justify-content: flex-end;
}

.vh_items_center {
    align-items: center;
}

.vh_items_start {
    align-items: flex-start;
}

.vh_items_end {
    align-items: flex-end;
}

.mb6 {
    margin-bottom: 6px;
}

.mb8 {
    margin-bottom: 8px;
}
.ml8 {
    margin-left: 8px;
}
.mr8 {
    margin-right: 8px;
}

.pb10 {
    padding-bottom:10px;
}

.mr12 {
    margin-right: 12px;
}

.ml12 {
    margin-right: 12px;
}

.mb20 {
    margin-bottom: 20px;
}
.ml20 {
    margin-left: 20px;
}.mr20 {
    margin-right: 20px;
}
.pl20 {
    padding-left: 20px;
}

.mt20 {
    margin-top: 20px;
}

.pr30 {
    padding-right: 30px;
}
.mr30 {
    margin-right: 30px;
}

