body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: #070c23;
}

* {
  box-sizing: border-box;
}
.font-size-medium {
  font-size: 16px;
}
.echarts {
  width: 100% !important;
  height: 100% !important;
}

.vBox {
  display: flex;
  flex-direction: column;
}

.hBox {
  display: flex;
}

.vh_content_center {
  justify-content: center;
}

.vh_content_between {
  justify-content: space-between;
}

.vh_content_around {
  justify-content: space-around;
}

.vh_content_start {
  justify-content: flex-start;
}

.vh_content_end {
  justify-content: flex-end;
}

.vh_items_center {
  align-items: center;
}

.vh_items_start {
  align-items: flex-start;
}

.vh_items_end {
  align-items: flex-end;
}

